/* class es . y id es #*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "poppins", sans-serif;
  background-image: url("../imagenes/logoTH.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: 5rem;
  background-blend-mode: soft-light;
}
#header {
  background-color: #dd5353;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  top: 0;
  z-index: 1;
}
.header__logo {
  display: none;
}

.title-h1,
.title-h2,
.title-h3 {
  text-align: center;
  font-weight: lighter;
  display: block;
  width: 100%;
}

#nav_list {
  list-style-type: none;
  width: 100%;
  text-align: center;
  background-color: #b73e3e;
  position: sticky;
  top: 0em;
  z-index: 100;
}
#nav_list ul li {
  display: flex;
  flex-direction: column;
}
#nav_list ul li a {
  color: #dbc8ac;
  font-weight: lighter;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 40px 0px 40px;
  border-style: none;
}
#nav_list li a:hover {
  opacity: 0.65;
  background-color: aqua;
  padding: 0px 40px 0px 40px;
}
.aside {
  display: flex;
  flex-direction: column;
}
.aside__index {
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  margin-top: 1em;
}
.texto-encima {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bolder;
}
.card__index {
  display: flex;
  flex-direction: column;
  border-color: #b73e3e;
  border-style: solid;
  border-radius: 1.5rem;
  border-width: 1px;
  margin: 1rem;
  padding: 0.5rem;
  max-width: 100%;
  /*margin-top: 1em;*/
}

.card__image,
.aside__image {
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.card__description {
  display: none;
}
#footer {
  background-color: #eddbc0;
  display: flex;
  flex-direction: column;
}
.footer__sm {
  font-size: 100%;
  text-align: center;
  background-color: #2d4263;
  color: white;
}
.footer__sm__icons a {
  color: white;
}
.footer__copyright {
  background-color: black;
  color: white;
  font-size: 2vh;
  text-align: center;
}
.footer__copyright a {
  color: green;
  font-weight: bold;
}
.footer__copyright a:hover {
  opacity: 0.65;
  text-decoration: underline;
}

.card__equipo {
  display: block;
  text-align: center;
  border-color: #b73e3e;
  border-style: solid;
  border-radius: 2rem;
  border-width: 1px;
  background-color: #dbc8ac;
  margin: 1rem;
  padding: 1rem;
}

.card__image__equipo {
  height: 15em;
}

#links-utiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 1rem;
}
#links-utiles img {
  border-radius: 0.5rem;
  height: auto;
  width: auto;
  max-height: 250px;
  max-width: 250px;
  border-color: #b73e3e;
  border-style: solid;
  margin: 10px;
}

#telefonos-utiles {
  padding: 1rem;
  margin: 2rem 1rem 2rem 1rem;
}

.telefonos-emergencias {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1rem;
}

.tarjeta-telefono {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8.5rem;
  border: 1px solid #b73e3e;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: beige;
}

.card__image__telefono {
  width: 3rem;
}

.h3__tarjeta__telefono {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.p {
  font-weight: bold;
}

.telefonos__hospitales__table {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 5px 5px 5px;
}

.telefonos__hospitales__table td {
  padding: 5px 5px 5px 5px;
  border-style: solid;
  text-align: center;
  width: 100%;
}
tr {
  width: 100%;
}

/*CONTACTO*/
.direction {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

.contact__maps {
  width: 100%;
  display: block;
}

.contact__form,
form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: white solid;
}
input[type="submit"],
input[type="reset"] {
  background-color: #04aa6d;
  color: white;
  width: auto;
  margin: 6px;
  padding: 6px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="reset"] {
  background-color: #b73e3e;
}

/*Media query 1*/
@media screen and (min-width: 768px) {
  .header__logo {
    box-sizing: border-box;
    height: 7em;
    display: flex;
    align-items: center;
    align-content: center;
  }

  .rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 2px 0px 2px;
  }

  #nav_list ul li {
    display: inline;
  }
  #nav_list ul li a {
    padding: 0px 20px 0px 20px;
  }
  #nav_list li a:hover {
    padding: 0px 20px 0px 20px;
  }

  .containers {
    display: grid;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: auto auto auto auto auto;
    column-gap: 1rem;
    grid-template-areas:
      "header       header     header"
      "nav_list     nav_list   nav_list"
      "aside        aside      aside"
      "noticias     noticias   noticias"
      "footer       footer     footer";
  }
  #header {
    grid-area: header;
  }
  #nav_list {
    grid-area: nav_list;
  }
  #noticias {
    grid-area: noticias;
  }
  .aside {
    grid-area: aside;
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  #footer {
    grid-area: footer;
  }
  .cards__index {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .card__index {
    display: flex;
    flex-direction: row;
  }
  .card__image {
    max-height: 10em;
  }
  .card__description {
    display: block;
  }

  .container-contact {
    display: grid;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    grid-template-columns: (1fr, 3fr);
    grid-template-rows: auto auto auto auto auto;
    column-gap: 1rem;
    grid-template-areas:
      "header         header"
      "nav_list       nav_list"
      "direction      contact__form"
      "contact__maps  contact__maps"
      "footer         footer";
  }
  .direction {
    grid-area: direction;
    text-align: center;
  }
  .contact__maps {
    grid-area: contact__maps;
    width: 100%;
    display: block;
  }
  .contact__form {
    grid-area: contact__form;
    display: block;
    width: fit-content;
    padding: 2rem;
    margin: auto;
  }

  #noticias .cards__index .card__index .row .title-h3 {
    display: block;
    text-align: left;
    box-sizing: content-box;
    padding-left: 3px;
    font-weight: bold;
  }
  .cards__equipo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contact__form form textarea,
  .contact__form form input,
  .contact__form form #gender {
    width: 300px;
  }
  .contact__form form {
    width: fit-content;
  }
}

/*Media query 2*/
@media screen and (min-width: 1024px) {
  .containers {
    display: grid;
    max-width: 1366px;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header       header"
      "nav_list     nav_list"
      "noticias     aside"
      "footer       footer";
  }

  .aside {
    flex-direction: column;
  }
  .contact__form form textarea,
  .contact__form form input,
  .contact__form form #gender {
    width: 600px;
  }
}
