.header {
  font-family: $header-font;
  /*background-color: white;*/
  background-image: url("../imagenes/pexels-antoni-shkraba-6749773.jpg");
  background-position: center;
  background-size: cover;
}

.footer__copyright {
  background-color: rgba(0, 0, 0, 0.2);
}
